.header{
    text-align: center;
    background: maroon;
    margin: -8px;
    margin-top: -21px;
    margin-bottom: 100px;
    padding: 25px
}



.chameleon{
    background-color: rgb(255, 224, 157);
    border-radius: 20px;
    padding: 10px;
    margin-bottom:  100px;;
}

.pigeon{
    background-color: rgb(255, 224, 157);
    border-radius: 20px;
    padding: 10px;
    margin-bottom:  100px;;
}